<div class="navbar navbar-inverse subnav" data-top="60">
  <div class="navbar-inner">
    <%= link_to "Blog", admin_blog_entries_path, class: "brand" %>
    <ul class="nav">
      <li><%= link_to "New Blog Entry", new_admin_blog_entry_url %></li>
    </ul>
  </div>
</div>