<h1>About Us</h1>

<h2>Our Units</h2>
<p>Our Units are 13ft by 32 ft outside dimensions with the inside dimensions of 12 ft by 30ft 3inches deep. The over head doors are 11ft 6inches high and 10ft 11inches wide.
  The units are perfect for ski boats with towers or recreational vehicles.
  The units are also work will for my small business tenants that store over flow materials for future use</p>
<p><strong>Rental Rate: $175.00 a month</strong></p>

<h2>Our Staff</h2>
<p>My Name is Jon Siddoway. I have been the owner and manager of the Storage unit for twenty-five years. We have a family feel that attracts long term tenants with twenty or more Renter in the same space for ten years or longer.
With a wide turning area for trailers, and a lower rental rates than comparable units helps us to avoid turn over and saves on your budget. </p>

<p>Call me any time if you have questions.  Jon at (801) 573-0479
Or e-mail me at   (sid99us@yahoo.com) </p>


<h2>Our Location</h2>
<address>
  <h3>S and b Storage</h3>
  4754 South 500 West<br />
  Murray, Utah 84065 <br />
  (801) 573-0479
</address>


<% content_for :javascript do  %>
  <script type="text/javascript">
    $(function(){
      $("#nav_about_us").addClass("active");
    });
  </script>
<% end %>