<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "slider/front_of_store.jpg" %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row">
  <div class="span8">
    <h3>Why Precision Auto and Truck?</h3>
    <p>We are Utah's Mechanic and maintenance solution. </p>
  </div>
  <div class="span4">
    <h3>Contact Us</h3>
    <p>Interested in learning more about how we can be your mechanic and maintenance solutions? </p>
    <%= link_to "Let's get Started", new_message_path, class: "btn btn-primary btn-large" %>
  </div>
</div>